
<h1><i class="fas fa-globe-europe"></i> Integration</h1>

<p>The following snippets allow you to integrate spots in third-party web sites. </p>

<h3><i class="fas fa-map"></i> Map</h3>

<p>A <a href="https://www.spotin.ch/integrations/<%= user.username %>/map.html" target="_blank">map of your spots</a> can be integrated with the following iframe.</p>

<p>
    <code>
        &lt;iframe src=&quot;https://www.spotin.ch/integrations/<%= user.username %>/map.html&quot;&gt;&lt;/iframe&gt;
    </code>
</p>

<iframe style="height: 300px; width: 300px; border: solid 1px gray;" src="/integrations/johndoe/map.html"></iframe>

<h3><i class="fas fa-list"></i> Permanent events</h3>

<p>A <a href="https://www.spotin.ch/integrations/<%= user.username %>/permanent.html" target="_blank">list of your permanent spots</a> can be integrated with the following iframe.</p>

<p>
    <code>
        &lt;iframe src=&quot;https://www.spotin.ch/integrations/<%= user.username %>/permanent.html&quot;&gt;&lt;/iframe&gt;
    </code>
</p>

<iframe style="height: 300px; width: 300px; border: solid 1px gray;" src="/integrations/johndoe/permanent.html"></iframe>

<h3><i class="fas fa-list"></i> Ponctual events</h3>

<p>A <a href="https://www.spotin.ch/integrations/<%= user.username %>/ponctual.html" target="_blank">list of your ponctual spots</a> can be integrated with the following iframe.</p>

<p>
    <code>
        &lt;iframe src=&quot;https://www.spotin.ch/integrations/<%= user.username %>/ponctual.html&quot;&gt;&lt;/iframe&gt;
    </code>
</p>

<iframe style="height: 300px; width: 300px; border: solid 1px gray;" src="/integrations/johndoe/ponctual.html"></iframe>
