<!DOCTYPE html>
<html>
<head>
    <title>Spot list</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" crossorigin="anonymous">
</head>
<body>
    <table role="grid">
        <% for (let spot of spots) { %>
            <tr>
                <td><a href="https://www.spotin.ch/spots/<%= spot.uuid %>" target="_blank"><%= spot.title %></a></td>
                <% if (spot.timestamp) { %>
                <td><%= spot.timestamp.getFullYear() %>-<%= spot.timestamp.getMonth() %>-<%= spot.timestamp.getDate() %> <%= spot.timestamp.getHours() %>:<%= spot.timestamp.getMinutes() %></td>
                <% } %>
            </tr>
        <% } %>
    </table>
</body>
</html>