<html>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>{{t 'mail.welcome.subject'}}</title>
	</head>
	<body>
		<div>
			<h1>{{t 'mail.welcome.subject'}}</h1>
			<p>
				{{t 'mail.welcome.helloGreetings' args}},
			</p>
			<p>
				{{t 'mail.welcome.message'}}
			</p>
			<p>
				<a href='{{link}}'>{{t 'mail.welcome.linkText'}}</a>
			</p>
			<p>
				{{t 'mail.welcome.didNotRequestNewAccount'}}
			</p>
			<p>
				{{t 'mail.welcome.byeGreetings'}},<br />
				Spot in
			</p>
		</div>
	</body>
</html>
