<h2><i class="fas fa-map-marker-alt"></i> <%= title %></h2>
<form action="<%= action %>" method="POST" novalidate>
    <label for="title">
        Title
        <% if (errors.title) { %>
        <span class="error">(cannot be empty)</span>
        <input name="title" id="title" placeholder="Title" value="<%= values.title %>" aria-invalid="true">
        <% } else { %>
        <input name="title" id="title" placeholder="Title" value="<%= values.title %>">
        <% } %>
    </label>

    <label for="description">
        Description
        <textarea id="description" type="text" name="description" placeholder="Description"><%= values.description %></textarea>
    </label>
    
    <label for="timestamp">
        Date and time
        <% if (errors.timestamp) { %>
        <span class="error">(must be in the yyyy-MM-ddThh:mm format)</span>
        <input class="datetime" id="timestamp" type="datetime-local" name="timestamp" 
            placeholder="yyyy-MM-ddThh:mm" value="<%= values.timestamp %>" aria-invalid="true">
        <% } else { %>
        <input class="datetime" id="timestamp" type="datetime-local" name="timestamp" 
            placeholder="yyyy-MM-ddThh:mm" value="<%= values.timestamp %>">
        <% } %>
    </label>

    <div class="grid">
        <label for="longitude">
            Longitude
            <% if (errors.coordinates) { %>
            <span class="error">(between -180.0 and 180)</span>
            <input id="longitude" type="text" name="longitude" placeholder="Longitude"
                value="<%= values.longitude %>" aria-invalid="true">
            <% } else { %>
                <input id="longitude" type="text" name="longitude" placeholder="Longitude"
                value="<%= values.longitude %>">
            <% } %>
        </label>
        <label for="latitude">
            Latitude
            <% if (errors.coordinates) { %>
            <span class="error">(between -90.0 and 90)</span>
            <input id="latitude" type="text" name="latitude" placeholder="Latitude"
                value="<%= values.latitude %>" aria-invalid="true">
            <% } else { %>
                <input id="latitude" type="text" name="latitude" placeholder="Latitude"
                value="<%= values.latitude %>">
            <% } %>
        </label>
    </div>

    <label for="redirection">
        Redirection URL
        <input id="redirection" type="text" name="redirection" placeholder="http(s)://"
        value="<%= values.redirection %>">
    </label>

    <label for="referenced">
        Referenced
        <input id="referenced" type="checkbox" name="referenced" role="switch" value="true"<%= values.referenced ? ' checked' : '' %>/>
    </label>
    
    <br>

    <button type="submit"><i class="fas fa-save"></i> Save</button>
</form>