<h1><i class="fas fa-map-marker-alt"></i> Your spots</h1>
<table>
    <thead>
        <tr>
            <th class="grow">Title</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% for (let spot of spots) { %>
        <tr>
            <td><a href="/spots/<%= spot.uuid %>"><%= spot.title %></a></td>
            <td><a href="/spots/<%= spot.uuid %>"><i class="fas fa-eye"></i></a></td>
            <td><a href="/spots/<%= spot.uuid %>/edit"><i class="fas fa-pen"></i></a></td>
            <td><a href="/spots/<%= spot.uuid %>/delete"><i class="fas fa-archive"></i></a></td>
        </tr>
    <% } %>
    </tbody>
</table>
<p>
    <a href="/spots/create" role="button"><i class="fas fa-plus-circle"></i> New spot</a>
</p>